---
const { project } = Astro.props;
const { title, description, tech, links } = project.frontmatter;
---

<div
  class="flex flex-col gap-4 items-start p-[var(--spacer--sm)] border-2 border-colorOrange rounded-xl"
>
  <img src="./assets/project.svg" alt="project icon" />
  <div class="flex flex-col gap-2">
    <h4 class="text-fontM font-poppinsBold">{title}</h4>
    <p class="text-[.9rem]">{description}</p>
    <span class="gradientText">{tech}</span>
    <div class="flex gap-4">
      <a href={links.repo} target="_blank"
        ><img src="./assets/github.svg" alt="Github Logo" /></a
      >
      <a href={links.deploy} target="_blank"
        ><img src="./assets/deploy.svg" alt="#" /></a
      >
    </div>
  </div>
</div>
