---
const { project } = Astro.props;
const { rev, title, description, img, tech, links } = project.frontmatter;
---

<div
  class={`border-2 border-colorOrange rounded-xl flex justify-between items-center overflow-hidden ${
    rev && "flex-row-reverse"
  }`}
>
  <div class="w-[55%] h-[340px]">
    <img
      src={img.src}
      alt={img.alt}
      class={`${
        rev ? "border-l-2" : "border-r-2"
      } border-colorOrange h-full w-full object-cover`}
    />
  </div>
  <div
    class={`flex flex-col h-full gap-4 ${
      rev ? "items-start" : "items-end text-end"
    } justify-between px-[var(--spacer--sm)] w-40%`}
  >
    <h2 class="font-poppinsBold text-fontM">{title}</h2>
    <p class="text-[.9rem] max-w-[400px]">{description}</p>
    <span class="gradientText">{tech}</span>
    <div class="flex gap-4">
      <a href={links.repo} target="_blank"
        ><img src="./assets/github.svg" alt="Github Logo" /></a
      >
      <a href={links.deploy} target="_blank"
        ><img src="./assets/deploy.svg" alt="#" /></a
      >
    </div>
  </div>
</div>
