---
const { project } = Astro.props;
const { rev, title, description, img, tech, links } = project.frontmatter;
---

<div
  class={`md:h-[340px] bg-[var(--colorDark)] border-2 border-solid border-colorOrange rounded-xl flex flex-col md:flex-row justify-between items-center overflow-hidden hover:scale-[1.02] duration-300 ${
    rev && "md:flex-row-reverse"
  }`}
>
  <div class="md:w-[55%] h-full">
    <a href={links.deploy} target="_blank">
      <img
        src={img.src}
        alt={img.alt}
        class={`${
          rev ? "md:border-l-2" : "md:border-r-2"
        } border-b-2 md:border-b-0 border-colorOrange h-full w-full object-cover`}
      />
    </a>
  </div>
  <div
    class={`flex flex-col h-full gap-4 items-center text-center ${
      rev ? "md:items-start md:text-start" : "md:items-end md:text-end"
    } justify-between p-[var(--spacer--sm)] w-40%`}
  >
    <h2 class="font-poppinsBold text-fontL">{title}</h2>
    <p class="text-fontXS max-w-[400px]">{description}</p>
    <span class="gradientText">{tech}</span>
    <div class="flex gap-4">
      <a href={links.repo} target="_blank"
        ><img src="./assets/github.svg" alt="Github Logo" /></a
      >
      <a href={links.deploy} target="_blank"
        ><img src="./assets/deploy.svg" alt="#" /></a
      >
    </div>
  </div>
</div>
